<div class="container">
    {{#each this}}
    <div class="card">
        <div>
            <p>{{user.username}} says:</p>
        </div>
        <div class="comment">
            {{comment}}
        </div>
        </div>
        {{/each}}
    </div>
</div>