<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <div class="container">
            <a href="#" class="brand-logo">Tech Blog - Your Posts</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/new-post">Post</a></li>
                <li><a href="/homepage">Homepage</a></li>
                <li><a id="logout" href="" class="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container post-container">
    {{#each posts as |post|}}
    <div class="card blue-grey">
        <div class="card-content white-text">
            <span class="card-title">{{post.title}}</span>
            <hr>
            <br>
            <p class="center-align">{{post.description}}</p>
            <br>
            <div class="card-action">Posted By {{user.name}}</div>
        </div>
        <a href="/api/post/{{post.id}}"><button class="btn" id="edit-page">edit</button></a>
    </div>
    {{/each}}
</div>

<script src="/js/logout.js"></script>
