<div class="container">
    <form>
    <div class="row">
        <h4 id="title">LOGIN HERE</h4>
        <div class="col">
            <div>
                <label for="username">USERNAME:</label>
                <input type="text" id="username">
                <label for="password">PASSWORD:</label>
                <input type="text" id="password">
            </div>
            <div>
                <button type="submit" class="button">LOGIN</button>
                <a href="/sign-up"><button type="button" class="button">SIGNUP</button></a>
            </div>
        </div>

    </div>
    </form>
</div>