<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <a href="#" class="brand-logo">Tech Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h4 id="title">LOGIN OR SIGN UP HERE</h4>
        <form class="login">
            <div class="col m6 s12">
                <div class="input-field">
                    <label for="username">USERNAME:</label>
                    <input type="text" id="username">
                </div>
                <div class="input-field">
                    <label for="password">PASSWORD:</label>
                    <input type="text" id="password">
                </div>
                <div>
                    <button type="submit" class="button">LOGIN</button>
                </div>
            </div>
        </form>
        <form class="signup">
            <div class="col m6 s12">
                <div class="input-field">
                    <label for="signup-username">USERNAME:</label>
                    <input type="text" id="signup-username">
                </div>
                <div class="input-field">
                    <label for="signup-email">EMAIL:</label>
                    <input type="text" id="signup-email">
                </div>
                <div class="input-field">
                    <label for="signup-password">PASSWORD:</label>
                    <input type="text" id="signup-password">
                </div>
                <div>
                    <button type="submit" class="button" id="signup">SIGNUP</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="/js/login.js"></script>